@model UserRegisterViewModel
<h1>Register herre</h1>

<form asp-action="Register" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="name" class="form-label"></label>
        <input asp-for="name" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email" class="form-label"></label>
        <input asp-for="email" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="password" class="form-label"></label>
        <input asp-for="password" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <span class="text-danger">@ViewData["error"]</span>
    <input type="submit" value="Lähetä tiedot"/>
</form>