@{
    ViewData["Title"] = "Landing";
}
@model UserRegisterViewModel
<div id="main-content">
    @if(Model == null)
    {
        <partial name="_Login" />
    }
    else if(Model.Register)
    {
        <partial name="_Register" model="Model" />
    }
    else
    {
        <partial name="_Login" model="Model"/>
    }
</div>

<hr />
@section Scripts{
    <script>
        $(document).on("click", ".login-tab", function(){
            var target = $(this).attr("data-target");
            // window.history.pushState('', '', "Landing/"+target);
            $.ajax({
                type: "post",
                url: "/Home/_" + target,
                success: function(data){
                    $("#main-content").html(data);
                }
            });
        });
    </script>
}
