html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



h4 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .user-card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .user-card h1 {
        font-size: 1.5rem;
        color: #007BFF;
        margin-bottom: 10px;
    }

    .user-card p {
        font-size: 1rem;
        color: #555;
        margin: 0;
    }